@charset "utf-8";

*,*:after,*::before {box-sizing: border-box;}

.singR {width:70%; margin-left:auto; margin-right:auto; position: relative;}
#slider01 {position: relative;}
#slider01 a {position: absolute; left:50%; transform:translateX(-50%);}
#slider01 a.on {z-index: 1;}
#slider01 a>li>img {    margin: 0.9rem 0 0 0.9rem;  }

.indicator_wrap {position: relative; top:285px; left:0;
                 z-index:9; cursor: pointer;}
.indicator {text-align: center;}
.indicator li {display: inline-block;}
.indicator li.on a {background: #41cbb2;}
.indicator li a {display: block; background:#eee; width:15px;;height: 15px;
                 border-radius: 100%;}